<form class="d-flex mt-2">
  <input
    type="text"
    class="form-control w-50"
    id="registration-no"
    placeholder="Registration No."
  />
  <input
    type="submit"
    class="btn btn-primary d-inline-block ms-2"
    value={{btnText}}
  />
</form>