<form
  class="d-flex mt-2"
  id="car-form"
  onsubmit="formSubmit(event,'{{action}}')"
>
  <input
    type="text"
    class="form-control w-50"
    id="registration-no-{{action}}"
    name="registration_no"
    placeholder="Registration No."
    maxlength="10"
    minlength="10"
  />
  <button type="submit" class="btn btn-primary d-inline-block ms-2">{{btnText}}
  </button>

</form>