<h3>Find your car :)</h3>
<div class="row flex-column">
  <div class="col">
    {{> car_form btnText="Find Car"}}
  </div>
  <div class="col">
    Your parking slot is:  <h4 class=" d-inline text-success">A3</h4>
  </div>
</div>