<dialog class="border border-success rounded">
  <div class="alert alert-success" id="modal-div" role="alert">
  </div>
  <form method="dialog">
    <button type="submit" class="btn btn-outline-success d-block mx-auto">Okay</button>
  </form>
</dialog>
<div class="row justify-content-center align-items-center m-0">
  <div class="col col-md-10 col-lg-8 mx-2 p-2">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button
          class="nav-link active"
          id="nav-home-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-home"
          type="button"
          role="tab"
          aria-controls="nav-home"
          aria-selected="true"
        >Park Car</button>
        <button
          class="nav-link"
          id="nav-profile-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-profile"
          type="button"
          role="tab"
          aria-controls="nav-profile"
          aria-selected="false"
        >Find Car</button>
        <button
          class="nav-link"
          id="nav-contact-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-contact"
          type="button"
          role="tab"
          aria-controls="nav-contact"
          aria-selected="false"
        >Recents</button>
        <button
          class="nav-link"
          id="nav-disabled-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-disabled"
          type="button"
          role="tab"
          aria-controls="nav-disabled"
          aria-selected="false"
        >All cars</button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div
        class="tab-pane fade show active"
        id="nav-home"
        role="tabpanel"
        aria-labelledby="nav-home-tab"
        tabindex="0"
      >{{> park_car}}</div>
      <div
        class="tab-pane fade"
        id="nav-profile"
        role="tabpanel"
        aria-labelledby="nav-profile-tab"
        tabindex="0"
      >{{> find_car}}</div>
      <div
        class="tab-pane fade"
        id="nav-contact"
        role="tabpanel"
        aria-labelledby="nav-contact-tab"
        tabindex="0"
      >{{> car_list_wrapper list=recentCars}}</div>
      <div
        class="tab-pane fade"
        id="nav-disabled"
        role="tabpanel"
        aria-labelledby="nav-disabled-tab"
        tabindex="0"
      >{{> car_list_wrapper list=allCars}}</div>
    </div>

  </div>
</div>